In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [2]:
data = pd.read_csv('stock_data.csv')

In [3]:
data.head(10)

,Date,High,Low,Open,Close,Volume,Adj Close,Company Name
0,2010-01-04,6215.000000,6032.000000,6081.000000,6142.950195,18735.0,5979.574219,MRF
1,2010-01-05,6269.000000,6150.000000,6200.000000,6160.600098,17947.0,5996.753418,MRF
2,2010-01-06,6198.000000,6055.000000,6180.000000,6090.399902,10735.0,5928.419434,MRF
3,2010-01-07,6371.000000,6151.000000,6249.899902,6216.200195,42206.0,6050.873047,MRF
4,2010-01-08,6294.399902,6150.000000,6243.299805,6166.850098,11155.0,6002.836914,MRF
5,2010-01-11,6252.000000,6150.000000,6199.000000,6158.600098,9387.0,5994.806641,MRF
6,2010-01-12,6194.399902,6060.000000,6194.399902,6084.350098,7286.0,5922.530273,MRF
7,2010-01-13,6145.000000,6048.000000,6085.000000,6107.100098,7550.0,5944.673828,MRF
8,2010-01-14,6485.000000,6131.149902,6167.799805,6440.799805,59564.0,6269.500000,MRF
9,2010-01-15,6549.500000,6380.000000,6498.700195,6406.100098,28721.0,6235.723633,MRF

In [4]:
data.columns

Index(['Date', 'High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close',
       'Company Name'],
      dtype='object')

In [ ]:
data.drop('Adj Close',axis=1,inplace=True)
data.